$bg-color: #1a6abf;
$font-stack: Arial, Helvetica, sans-serif;
$grey-color: #968a8a;
$success-color: #27AE60;
$fail-color: #ff3c41;
$field-border: #ccc;
$txt-color:  #666;
$title-color: #2C3E50;

$azure: azure;
